@font-face {
    font-family: "montserrat";
    src: url(fonts/montserrat.ttf) format("truetype");
}


*{
    margin: 0;
    padding: 0;
    font-family: "montserrat";
    src: url(font/montserrat.ttf);
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 5;
}

p {
    color: black;
    font-family: "montserrat";
    font-size: 65%;
}
#first {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#shop {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

#shop a {
    text-decoration: none;
}
#shop a p {
    font-size: 150%;
    font-weight: 500;
}


#menu {
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#menu ul li {
    list-style: none;
    margin: 0% 5%;
}

#menu a {
    text-decoration: none;
}


#number {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: row;

}


#datas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85.7%;
    height: 100%;
}


#datas ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}


#FreeForRussia {
    font-size: 75%;
    color: rgba(0, 0, 0, 0.7);
}

#datas ul li {
    list-style: none;
    margin : 0% 3%;
}


#datas p {
    text-decoration: none;
}


#burger a {
    height: 100%;
    width: 100%;
}


#burger {
    background-color: rgba(34, 47, 62, 1.0);
    width: 14.3%;
    height: 100%;
    position: relative;
}


#burger div {
    position: absolute;
    background-color: white;
    height: 2%;
    width: 30%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}


#burger:after, #burger:before {
    content: '';
    position: absolute;
    background-color: white;
    height: 2%;
    width: 30%;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
}

#burger:before {
    top: 60%;
}

#second {
    display: flex;
    width: 100%;
    height: 90%;
    position: relative;
    justify-content: center;
}

#main {
    margin-top: 2.5%;
    height: 90%;
    width: 85%;
    display: flex;
    flex-direction: row;
    position: absolute;

}


#info {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#newlike {
    display: flex;
    height: 10%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}


#new {
    display: flex;
    height: 100%;
    width: 17%;
    justify-content: center;
    align-items: center;
}


#new p {
    color: red;
}


#like {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}



#heart::after, #heart::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:red;
    top: -40%;
}


#heart::after {
    left: -40%;
    top: 0;

}



#description {
    display: flex;
    height: 80%;
    width: 80%;
    flex-direction: column;
}


#title {
    height: 40%;
    width: 100%;
}


#list1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#list1 li {
    list-style: none;
}

#list2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#list2 li {
    display: flex;
    flex-direction: row;
}

#shorttitle{
    color: black;
    font-size: 168%;
    font-weight: 400;
}

.prgrf{
    color: rgba(0,0 ,0 ,0.7);
}

#space-between{
    margin-left: 5%;
}

#video {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#videoparams {
    box-sizing: content-box;
    height: 100%;
}


#video video {
    height: 100%;
}


#shirpu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
}


#rightfromvideo {
    height: 100%;
    width: auto;
    display: flex;
    align-items: flex-end;
    padding: 0% 4%;
}

#rightfromvideo p {
    margin-bottom: 4%;
}


#preshirpu {
    width: 100%;
    box-sizing: content-box;
}


#price {
    display: flex;
    height: 10%;
    width: 100%;
    background-color: #107a69;
    flex-direction: row;
}


.triple {
    width: 33.333%;
    height: 100%;
}


#rub {
    background-color:#F4F4F4;
    font-size: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#numbers {
    background-color:#EDEDED;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

:focus {
    outline: none;
}

.symb {
    cursor: pointer;
    width: 25%;
}

input {
    border: none;
    background-color:#EDEDED;
    width: 35%;
    height: 30%;
    text-align: center;
}

#add {
    background-color:#FFF3E0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

#add a {
    text-decoration: none;
}


#picture {
    /* background-color: grey; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column; 
}

.slick-active {
    overflow: hidden;
}

.imgscreen {
    height: 93%;
    width: 100%;
    position: relative;
}


.slick-prev, .slick-next {
    font-size: 0;
    top: 100%;
    height: 7.5%;
    width: 10.2%;
    opacity: 0.2;
    border: solid 1.5px black;
}

.imgscreen button:hover {
    background-color: gray;
    opacity: 0.2;
}

.slick-next {
    left: 10.2%;
    width: 9.8%;
    border-left: none;
}


.slick-dots {
    position: absolute;
    left: 0;
    top: 50%;
}


.slick-dots li {
    list-style: none;
}


.slick-dots li button {
    font-size: 0;
    width: 6px;
    height: 6px;
    border: none;
    background-color: #EDEDED;
    border-radius: 50%;
}
 

.slick-dots .slick-active button {
    background-color: #292929;
    width: 8px;
    height: 8px;
}

.slick-track {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}

.slick-list {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.slickslide {
    display: flex;
    justify-content: center;
}

.slickslide img:hover {
    zoom: 1.5;
}

.slick-arrow {
    position: absolute;
}

.imgscreen img {
    height: 100%;
    width: auto;
}


#switchpanel {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7%;
    justify-content: space-between;    
}

.arrows {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

#leftarrow {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    border: none;
    box-sizing: border-box;
    border-right: none;
}


#rightarrow {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    border: none; 
    box-sizing: border-box;
}

/* Zoom in styles */

.round-loope{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #F0F0F0;
}

.round-loope img {
    z-index: 2;
}
